In [20]:
import pandas as pd

In [21]:
import ast

In [70]:
import nltk

In [72]:
from nltk.stem.porter import PorterStemmer

In [81]:
from sklearn.metrics.pairwise import cosine_similarity

In [73]:
ps=PorterStemmer()

In [22]:
def listConvertor(data):
    return ast.literal_eval(data)

In [74]:
def stemData(text):
    texts=[]
    for word in text.split():
        texts.append(ps.stem(word))
    return " ".join(texts)

In [23]:
hd=pd.read_csv("../r1Data/Hotel Info.csv")

In [24]:
hd.drop(columns=['Code','Latitude','Longitude'],inplace=True)

In [25]:
hd['Amenities'][0]

"['Kitchen/Kitchenette', 'Housekeeping', 'Parking (Free)', 'Room service', 'Dry Cleaning services', 'Newspaper', 'Umbrellas', 'Torch', 'Barbeque', 'Dining Area', 'Safe', 'CCTV', 'Safety and Security', 'Security', 'Caretaker', 'Electrical Sockets', 'Bonfire (Paid)', 'Living Room', 'Seating Area']"

In [26]:
hd['Amenities']=hd['Amenities'].apply(lambda x : listConvertor(x))

In [27]:
hd.head()

,Unnamed: 0,City,Amenities,Price,Address
0,0,Coorg,"[Kitchen/Kitchenette, Housekeeping, Parking (F...",5400,"Kootuhole,Galibeedu Road, Madikeri"
1,1,udaipur,"[Masks, Sanitizers (Free), Sanitizers installe...",2158,"sohan sadan,near PNB bank, bhuwana by pass cho..."
2,2,Lake,"[Parking (Free), Wifi (Free), Elevator/ Lift, ...",7001,850 South US Hwy 27/441
3,3,Mysore,"[Masks (Paid), Disinfectant wipes (Paid), Glov...",1004,"15/B, HOTEL THE GRAND VANAM, LOKARANJANMAHAL\r..."
4,4,Mahabaleshwar,"[Masks, Gloves (Paid), Thermal screening at en...",1812,"Pan Hill Hotel, Opposite Bus Stand, Panchgani ..."

In [34]:
def joinwords(data):
    itemList=[]
    for item in data:
        item=item.replace("/","")
        item=item.replace("(","").replace(")","")
        item=item.lower()
        item=item.replace(" ","")
        itemList.append(item)
    return itemList

In [35]:
hd['Amenities'][0]

['Kitchen/Kitchenette',
 'Housekeeping',
 'Parking (Free)',
 'Room service',
 'Dry Cleaning services',
 'Newspaper',
 'Umbrellas',
 'Torch',
 'Barbeque',
 'Dining Area',
 'Safe',
 'CCTV',
 'Safety and Security',
 'Security',
 'Caretaker',
 'Electrical Sockets',
 'Bonfire (Paid)',
 'Living Room',
 'Seating Area']

In [36]:
joinwords(['Kitchen/Kitchenette',
 'Housekeeping',
 'Parking (Free)',
 'Room service',
 'Dry Cleaning services',
 'Newspaper',
 'Umbrellas',
 'Torch',
 'Barbeque',
 'Dining Area',
 'Safe',
 'CCTV',
 'Safety and Security',
 'Security',
 'Caretaker',
 'Electrical Sockets',
 'Bonfire (Paid)',
 'Living Room',
 'Seating Area']
)

['kitchenkitchenette',
 'housekeeping',
 'parkingfree',
 'roomservice',
 'drycleaningservices',
 'newspaper',
 'umbrellas',
 'torch',
 'barbeque',
 'diningarea',
 'safe',
 'cctv',
 'safetyandsecurity',
 'security',
 'caretaker',
 'electricalsockets',
 'bonfirepaid',
 'livingroom',
 'seatingarea']

In [37]:
hd['Amenities']=hd['Amenities'].apply(joinwords)

In [60]:
hd.head()

,Unnamed: 0,Price,Address,tags
0,0,5400,"Kootuhole,Galibeedu Road, Madikeri","[coorg, kitchenkitchenette, housekeeping, park..."
1,1,2158,"sohan sadan,near PNB bank, bhuwana by pass cho...","[udaipur, masks, sanitizersfree, sanitizersins..."
2,2,7001,850 South US Hwy 27/441,"[lake, parkingfree, wififree, elevatorlift, ai..."
3,3,1004,"15/B, HOTEL THE GRAND VANAM, LOKARANJANMAHAL\r...","[mysore, maskspaid, disinfectantwipespaid, glo..."
4,4,1812,"Pan Hill Hotel, Opposite Bus Stand, Panchgani ...","[mahabaleshwar, masks, glovespaid, thermalscre..."

In [56]:
hd['tags']=hd['tags'].apply(joinwords)

In [65]:
hd['tags']=hd['tags'].apply(lambda x : " ".join(x))

In [77]:
hd.head()

,Unnamed: 0,Price,Address,tags
0,0,5400,"Kootuhole,Galibeedu Road, Madikeri",coorg kitchenkitchenett housekeep parkingfre r...
1,1,2158,"sohan sadan,near PNB bank, bhuwana by pass cho...",udaipur mask sanitizersfre sanitizersinstal di...
2,2,7001,850 South US Hwy 27/441,lake parkingfre wififre elevatorlift aircondit...
3,3,1004,"15/B, HOTEL THE GRAND VANAM, LOKARANJANMAHAL\r...",mysor maskspaid disinfectantwipespaid glovespa...
4,4,1812,"Pan Hill Hotel, Opposite Bus Stand, Panchgani ...",mahabaleshwar mask glovespaid thermalscreening...

In [76]:
hd['tags']=hd['tags'].apply(stemData)

## Model 1

### using sklearn count vectorizer

In [58]:
from sklearn.feature_extraction.text import CountVectorizer

In [106]:
cv=CountVectorizer(stop_words='english',max_features=780)

In [105]:
len(cv.get_feature_names_out())

778

In [107]:
vectors=cv.fit_transform(hd['tags']).toarray()

In [108]:
cos_vecotrs=cosine_similarity(vectors)

In [111]:
cos_vecotrs[0]

array([1.        , 0.25064021, 0.18257419, ..., 0.14301939, 0.22821773,
       0.33218192], shape=(11628,))

In [133]:
def getBestHotelMatch(index):
    matchIndex=cos_vecotrs[index]
    lst=sorted(list(enumerate(cos_vecotrs[0])),key=lambda x : x[1],reverse=True)
    lst=lst[1:20]
    return lst

In [134]:
getBestHotelMatch(0)

[(1030, np.float64(0.7050239879106326)),
 (5343, np.float64(0.7)),
 (502, np.float64(0.6761234037828131)),
 (7508, np.float64(0.670820393249937)),
 (8364, np.float64(0.6708203932499369)),
 (1178, np.float64(0.6674238124719145)),
 (9382, np.float64(0.6674238124719145)),
 (8494, np.float64(0.6643638388299197)),
 (7834, np.float64(0.6531972647421808)),
 (11162, np.float64(0.6531972647421808)),
 (4830, np.float64(0.6527533657682197)),
 (7749, np.float64(0.6527533657682197)),
 (2456, np.float64(0.6499999999999999)),
 (2561, np.float64(0.6499999999999999)),
 (4030, np.float64(0.6499999999999999)),
 (11118, np.float64(0.6454972243679029)),
 (11167, np.float64(0.6454972243679028)),
 (915, np.float64(0.6425754631219992)),
 (5597, np.float64(0.6425754631219992))]

In [136]:
hd.iloc[4830]

Unnamed: 0                                                 4830
Price                                                      1690
Address                  Near clock tower, mall road, mussorrie
tags          mussoori sanit housekeep roomservic bathroom w...
Name: 4830, dtype: object