In [2]:
import pandas as pd

In [3]:
pd.read_table("../r1Data/dataset_TIST2015_POIs.txt",nrows=100).head(5)

   3fd66200f964a52000e71ee3  40.733596  -74.003139          Jazz Club  US
0  3fd66200f964a52000e81ee3  40.758102  -73.975734                Gym  US
1  3fd66200f964a52000ea1ee3  40.732456  -74.003755  Indian Restaurant  US
2  3fd66200f964a52000ec1ee3  42.345907  -71.087001  Indian Restaurant  US
3  3fd66200f964a52000ee1ee3  39.933178  -75.159262     Sandwich Place  US
4  3fd66200f964a52000f11ee3  40.652766  -74.003092      Bowling Alley  US

In [4]:
hd=pd.read_csv("../r1Data/Hotel Info.csv")

In [12]:
hd.drop(columns=['Unnamed:0'],inplace=True)

KeyError: "['Unnamed:0'] not found in axis"

In [13]:
hd.iloc[:3]

,Unnamed: 0,Code,City,Amenities,Latitude,Longitude,Price,Address
0,0,1.001080e+18,Coorg,"['Kitchen/Kitchenette', 'Housekeeping', 'Parki...",12.4503,75.7124,5400,"Kootuhole,Galibeedu Road, Madikeri"
1,1,1.001340e+18,udaipur,"['Masks', 'Sanitizers (Free)', 'Sanitizers ins...",24.6263,73.7111,2158,"sohan sadan,near PNB bank, bhuwana by pass cho..."
2,2,1.001850e+18,Lake,"['Parking (Free)', 'Wifi (Free)', 'Elevator/ L...",28.8982,-81.9110,7001,850 South US Hwy 27/441