In [1]:
import pandas as pd

In [3]:
pd.read_table("../r1Data/dataset_TIST2015_POIs.txt",nrows=100).head(5)

   3fd66200f964a52000e71ee3  40.733596  -74.003139          Jazz Club  US
0  3fd66200f964a52000e81ee3  40.758102  -73.975734                Gym  US
1  3fd66200f964a52000ea1ee3  40.732456  -74.003755  Indian Restaurant  US
2  3fd66200f964a52000ec1ee3  42.345907  -71.087001  Indian Restaurant  US
3  3fd66200f964a52000ee1ee3  39.933178  -75.159262     Sandwich Place  US
4  3fd66200f964a52000f11ee3  40.652766  -74.003092      Bowling Alley  US

In [7]:
hd=pd.read_csv("../r1Data/Hotel Info.csv")

In [17]:
hd.sample(1)['Amenities']

1685    ['Sanitizers', 'Sanitizers installed', 'Power ...
Name: Amenities, dtype: object

In [19]:
hd.iloc(0)