In [20]:
import pandas as pd

In [21]:
import ast

In [70]:
import nltk

In [72]:
from nltk.stem.porter import PorterStemmer

In [73]:
ps=PorterStemmer()

In [22]:
def listConvertor(data):
    return ast.literal_eval(data)

In [ ]:
def stemData(text):
    texts=[]
    for word in text.split():
        texts.append()

In [23]:
hd=pd.read_csv("../r1Data/Hotel Info.csv")

In [24]:
hd.drop(columns=['Code','Latitude','Longitude'],inplace=True)

In [25]:
hd['Amenities'][0]

"['Kitchen/Kitchenette', 'Housekeeping', 'Parking (Free)', 'Room service', 'Dry Cleaning services', 'Newspaper', 'Umbrellas', 'Torch', 'Barbeque', 'Dining Area', 'Safe', 'CCTV', 'Safety and Security', 'Security', 'Caretaker', 'Electrical Sockets', 'Bonfire (Paid)', 'Living Room', 'Seating Area']"

In [26]:
hd['Amenities']=hd['Amenities'].apply(lambda x : listConvertor(x))

In [27]:
hd.head()

,Unnamed: 0,City,Amenities,Price,Address
0,0,Coorg,"[Kitchen/Kitchenette, Housekeeping, Parking (F...",5400,"Kootuhole,Galibeedu Road, Madikeri"
1,1,udaipur,"[Masks, Sanitizers (Free), Sanitizers installe...",2158,"sohan sadan,near PNB bank, bhuwana by pass cho..."
2,2,Lake,"[Parking (Free), Wifi (Free), Elevator/ Lift, ...",7001,850 South US Hwy 27/441
3,3,Mysore,"[Masks (Paid), Disinfectant wipes (Paid), Glov...",1004,"15/B, HOTEL THE GRAND VANAM, LOKARANJANMAHAL\r..."
4,4,Mahabaleshwar,"[Masks, Gloves (Paid), Thermal screening at en...",1812,"Pan Hill Hotel, Opposite Bus Stand, Panchgani ..."

In [34]:
def joinwords(data):
    itemList=[]
    for item in data:
        item=item.replace("/","")
        item=item.replace("(","").replace(")","")
        item=item.lower()
        item=item.replace(" ","")
        itemList.append(item)
    return itemList

In [35]:
hd['Amenities'][0]

['Kitchen/Kitchenette',
 'Housekeeping',
 'Parking (Free)',
 'Room service',
 'Dry Cleaning services',
 'Newspaper',
 'Umbrellas',
 'Torch',
 'Barbeque',
 'Dining Area',
 'Safe',
 'CCTV',
 'Safety and Security',
 'Security',
 'Caretaker',
 'Electrical Sockets',
 'Bonfire (Paid)',
 'Living Room',
 'Seating Area']

In [36]:
joinwords(['Kitchen/Kitchenette',
 'Housekeeping',
 'Parking (Free)',
 'Room service',
 'Dry Cleaning services',
 'Newspaper',
 'Umbrellas',
 'Torch',
 'Barbeque',
 'Dining Area',
 'Safe',
 'CCTV',
 'Safety and Security',
 'Security',
 'Caretaker',
 'Electrical Sockets',
 'Bonfire (Paid)',
 'Living Room',
 'Seating Area']
)

['kitchenkitchenette',
 'housekeeping',
 'parkingfree',
 'roomservice',
 'drycleaningservices',
 'newspaper',
 'umbrellas',
 'torch',
 'barbeque',
 'diningarea',
 'safe',
 'cctv',
 'safetyandsecurity',
 'security',
 'caretaker',
 'electricalsockets',
 'bonfirepaid',
 'livingroom',
 'seatingarea']

In [37]:
hd['Amenities']=hd['Amenities'].apply(joinwords)

In [60]:
hd.head()

,Unnamed: 0,Price,Address,tags
0,0,5400,"Kootuhole,Galibeedu Road, Madikeri","[coorg, kitchenkitchenette, housekeeping, park..."
1,1,2158,"sohan sadan,near PNB bank, bhuwana by pass cho...","[udaipur, masks, sanitizersfree, sanitizersins..."
2,2,7001,850 South US Hwy 27/441,"[lake, parkingfree, wififree, elevatorlift, ai..."
3,3,1004,"15/B, HOTEL THE GRAND VANAM, LOKARANJANMAHAL\r...","[mysore, maskspaid, disinfectantwipespaid, glo..."
4,4,1812,"Pan Hill Hotel, Opposite Bus Stand, Panchgani ...","[mahabaleshwar, masks, glovespaid, thermalscre..."

In [56]:
hd['tags']=hd['tags'].apply(joinwords)

In [65]:
hd['tags']=hd['tags'].apply(lambda x : " ".join(x))

In [66]:
hd.head()

,Unnamed: 0,Price,Address,tags
0,0,5400,"Kootuhole,Galibeedu Road, Madikeri",coorg kitchenkitchenette housekeeping parkingf...
1,1,2158,"sohan sadan,near PNB bank, bhuwana by pass cho...",udaipur masks sanitizersfree sanitizersinstall...
2,2,7001,850 South US Hwy 27/441,lake parkingfree wififree elevatorlift aircond...
3,3,1004,"15/B, HOTEL THE GRAND VANAM, LOKARANJANMAHAL\r...",mysore maskspaid disinfectantwipespaid glovesp...
4,4,1812,"Pan Hill Hotel, Opposite Bus Stand, Panchgani ...",mahabaleshwar masks glovespaid thermalscreenin...

## Model 1

### using sklearn count vectorizer

In [58]:
from sklearn.feature_extraction.text import CountVectorizer

In [59]:
cv=CountVectorizer(stop_words='english',max_features=2000)

In [69]:
vectors=cv.fit_transform(hd['tags']).toarray()