In [1]:
import pandas as pd

In [2]:
import ast

In [3]:
def listConvertor(data):
    return ast.literal_eval(data)

In [21]:
listConvertor('['a','b']')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1062737499.py, line 1)

In [16]:
hd=pd.read_csv("../r1Data/Hotel Info.csv")

In [17]:
hd.drop(columns=['Code','Latitude','Longitude'],inplace=True)

In [18]:
hd

,Unnamed: 0,City,Amenities,Price,Address
0,0,Coorg,"['Kitchen/Kitchenette', 'Housekeeping', 'Parki...",5400,"Kootuhole,Galibeedu Road, Madikeri"
1,1,udaipur,"['Masks', 'Sanitizers (Free)', 'Sanitizers ins...",2158,"sohan sadan,near PNB bank, bhuwana by pass cho..."
2,2,Lake,"['Parking (Free)', 'Wifi (Free)', 'Elevator/ L...",7001,850 South US Hwy 27/441
3,3,Mysore,"['Masks (Paid)', 'Disinfectant wipes (Paid)', ...",1004,"15/B, HOTEL THE GRAND VANAM, LOKARANJANMAHAL\r..."
4,4,Mahabaleshwar,"['Masks', 'Gloves (Paid)', 'Thermal screening ...",1812,"Pan Hill Hotel, Opposite Bus Stand, Panchgani ..."
...,...,...,...,...,...
11623,11623,Jodhpur,"['Sanitizers', 'Parking (Free)', 'Room service...",467,"155, Nai Sarak, Clock Tower Road, jodhpur"
11624,11624,Nainital,"['Masks', 'Gloves', 'Sanitizers', 'Kitchen/Kit...",3026,"Opposite Nainital Club, Near High Court, Naini..."
11625,11625,Rishikesh,"['Sanitizers', 'Parking (Free)', 'Elevator/ Li...",4000,"KHASRA NO 27 A BEHIND DECON VALLEY, TAPOVAN"
11626,11626,Mumbai,"['Air Conditioning', 'Room service', 'Wifi', '...",4859,Ginger Mumbai Andheri Teli Gali Road Andheri E...
11627,11627,Jabalpur,"['Sanitizers', 'Parking (Free)', 'Wifi (Free)'...",1324,"Sun Palace, Syndicate Tower, Above Bhatia Tyre..."

In [20]:
hd['Amenities'].apply(lambda x : "".join(x))

0        ['Kitchen/Kitchenette', 'Housekeeping', 'Parki...
1        ['Masks', 'Sanitizers (Free)', 'Sanitizers ins...
2        ['Parking (Free)', 'Wifi (Free)', 'Elevator/ L...
3        ['Masks (Paid)', 'Disinfectant wipes (Paid)', ...
4        ['Masks', 'Gloves (Paid)', 'Thermal screening ...
                               ...
11623    ['Sanitizers', 'Parking (Free)', 'Room service...
11624    ['Masks', 'Gloves', 'Sanitizers', 'Kitchen/Kit...
11625    ['Sanitizers', 'Parking (Free)', 'Elevator/ Li...
11626    ['Air Conditioning', 'Room service', 'Wifi', '...
11627    ['Sanitizers', 'Parking (Free)', 'Wifi (Free)'...
Name: Amenities, Length: 11628, dtype: object

In [15]:
hd[['Amenities']]

                                               Amenities
0      ['Kitchen/Kitchenette', 'Housekeeping', 'Parki...
1      ['Kitchen/Kitchenette', 'Housekeeping', 'Parki...
2      ['Kitchen/Kitchenette', 'Housekeeping', 'Parki...
3      ['Kitchen/Kitchenette', 'Housekeeping', 'Parki...
4      ['Kitchen/Kitchenette', 'Housekeeping', 'Parki...
...                                                  ...
11623  ['Kitchen/Kitchenette', 'Housekeeping', 'Parki...
11624  ['Kitchen/Kitchenette', 'Housekeeping', 'Parki...
11625  ['Kitchen/Kitchenette', 'Housekeeping', 'Parki...
11626  ['Kitchen/Kitchenette', 'Housekeeping', 'Parki...
11627  ['Kitchen/Kitchenette', 'Housekeeping', 'Parki...

[11628 rows x 1 columns]