In [1]:
import numpy as np
import pandas as pd

In [2]:
vendor_review_df=pd.read_json("../r2Data/yelp/yelp_academic_dataset_review.json",lines=True,nrows=400000)

In [3]:
vendor_business_info=pd.read_json("../r2Data/yelp/yelp_academic_dataset_business.json",lines=True)

In [ ]:
vendor_business_info.sample(1)

In [7]:
vendor_review_df.sample(10)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
27628,n-qaCus7Y2yU-qKd4j45pQ,TxLwKy06j2ZYC4SLZuXp-w,bmz4siaejdjs4_yS_mYW4A,5,0,0,0,Went with some of my family last week. Fantast...,2014-12-01 17:31:03
304199,1rgJTs_GeMZGguIXaGwcEQ,O7dFiJceDFecNeoR-V6hug,1y8Y1LLHjkHuuI8mizESZg,5,0,0,0,Top club out here - give it a shot... LITERALL...,2018-09-02 08:39:59
211349,cUMxhY_NzPXAlmyRJ9YUDg,H3_qkJWploVcpI36G_AXnA,V6Om7YZhlRQRU7WfuxHq8Q,4,0,0,0,"walking around at the Reading Terminal market,...",2012-01-16 22:52:59
192358,R5Arb9BppZMLTnRtZzlkvg,iya8VVcoH21j2GBmqfDZ-g,9zaXFApfobvEKgfGt-NUxA,4,1,0,0,A good straightforward hardware store. Went to...,2010-12-21 04:19:38
88582,dp4EpGu6zj5FAcR5JBHVbw,OLi0w9tMcg-aMHQyMQSNhQ,rViAhfKLKmwbhTKROM9m0w,5,0,0,0,Great golf corse good rooms a loose slots this...,2015-11-09 00:44:39
144843,8TtHn5z-tFmTPEbMyDO33w,SSmRahmUowKESZNbZ5qohg,OZK2JhyPVY1g8vlzOQVxfw,5,0,0,0,Jeff did our inspection on our new home and he...,2018-06-14 20:07:38
106112,K5_F--ENiv2SpOB7XmL3hw,_fAA0-6SCc_O-oo6FfXBGg,dGVsh3S39RlPj_MfBZklZQ,5,4,2,3,A breathtaking view of the city and beach in t...,2011-10-31 03:22:05
31361,HOjKzXQqVc3PhtCrZHuMGA,EjqCMqRSq6NCbiNKHm_ZzA,Et5i11GBxbveTrJnsbp3Zg,5,1,1,1,Had a surf lesson today for my 11 year old twi...,2014-04-24 04:03:12
55543,6xY15PMF0HQU8L7D_mAFxA,TDQYrmmIt4flSQt1k7DAjQ,PnJOVC9WGuMrNi5vQ04gMA,5,4,1,1,I've only ever gotten waxed here but I was ver...,2013-03-22 02:04:10
395897,GDlokV0X50iFAJ2uk8KO4g,c9TEBldMxD59bibe88EYJQ,HCqmx4ENAZ76SAjoalj-MQ,2,0,0,0,The Puckett's near Franklin's Square is a medi...,2017-05-17 20:19:11

In [10]:
vendor_business_info[vendor_business_info['business_id']=='X2twFL-eVLXSqNmm7CWUYQ']

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
6869,X2twFL-eVLXSqNmm7CWUYQ,Gulf South Foot & Ankle,"2520 Harvard Ave, Ste 2B",Metairie,LA,70001,29.998085,-90.188808,4.0,15,1,"{'BusinessAcceptsCreditCards': 'None', 'ByAppo...","Sports Medicine, Health & Medical, Physical Th...","{'Monday': '8:30-18:0', 'Tuesday': '8:30-18:0'..."