In [2]:
import numpy as np
import pandas as pd

In [4]:
df1=pd.read_csv("../r2Data/user_vendor_series_data.csv")

## Buliding basic collaborative model

In [13]:
df1.drop(columns=['date','state','postal_code','stars_y'],inplace=True)

In [14]:
df1.head(3)

,user_id,business_id,stars_x,useful,funny,cool,text,name,address,city,latitude,longitude,review_count,is_open,categories
0,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",Turning Point of North Wales,1460 Bethlehem Pike,North Wales,40.210196,-75.223639,169,1,"Restaurants, Breakfast & Brunch, Food, Juice B..."
1,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,Body Cycle Spinning Studio,"1923 Chestnut St, 2nd Fl",Philadelphia,39.952103,-75.172753,144,0,"Active Life, Cycling Classes, Trainers, Gyms, ..."
2,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,Kettle Restaurant,748 W Starr Pass Blvd,Tucson,32.207233,-110.980864,47,1,"Restaurants, Breakfast & Brunch"

In [11]:
df1.columns

Index(['user_id', 'business_id', 'stars_x', 'useful', 'funny', 'cool', 'text',
       'date', 'name', 'address', 'city', 'state', 'postal_code', 'latitude',
       'longitude', 'stars_y', 'review_count', 'is_open', 'categories'],
      dtype='object')