In [1]:
import numpy as np
import pandas as pd

In [26]:
vendor_review_df=pd.read_json("../r2Data/yelp/yelp_academic_dataset_review.json",lines=True,nrows=400000)

In [27]:
vendor_review_df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
399995,uxx2FBHD4P_jpptHAFN0Jw,M6vqSO8qK34kGvwq72k7jg,XHEoP7Otn8RMH9r8WTJnOA,1,0,0,0,"I placed an order with IKEA, and Ellis Moving ...",2014-08-26 01:24:54
399996,5J9BR9pX1S7_OhVG9bPD2Q,yMEsTtgZMnofpWkt7dC4pQ,-NR67PJ5DXIMhyHmWe95bw,5,0,0,0,If you see your wedding as one of the most imp...,2019-03-17 02:18:07
399997,Aw3EfZ0sK3z4VbEQ_M5oPQ,Tk-scISvtZYDAJyYk1fUHw,ta7CjdjmH9cVcwc8AQyUFg,5,0,0,0,I have been a client of EWC for about 8 years ...,2018-12-13 06:23:39
399998,NblCT6zH-jpUONDAFiPq9Q,W1MeJas3nFnSzdWrO4uj4A,KP5OncF2jhT7_J1phHPPww,5,0,0,0,"Very nice food and drinks, tres de leches is m...",2019-04-25 01:50:40
399999,O-cDqH9Nvkd2bZuYsEASbQ,Ym0tqahvetGXfgMQgS4Axw,s_EQ1JQvZ32bqFfhZSgj_A,1,1,0,0,I enjoy the atmosphere but I recently had a ge...,2015-12-13 19:40:36

In [28]:
vendor_review_df[vendor_review_df['user_id']=='8g_iMtfSiwikVnbP2etR0A']

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
147449,a2xLKcKaXQLdsNBLI9DWqA,8g_iMtfSiwikVnbP2etR0A,eaDZlSuVS0EY67Ke6pRP6Q,4,0,0,0,Started with coconut and fruity waters. Refres...,2013-10-13 23:34:57
318024,xyQlaIGcNKpcv07vG38Afg,8g_iMtfSiwikVnbP2etR0A,WXX2EtysiTsZd7pzijpb0g,3,0,0,0,Breakfast buffet is a busy place. There's a la...,2015-02-15 20:20:59

In [23]:
vendor_business_info=pd.read_json("../r2Data/yelp/yelp_academic_dataset_business.json",lines=True)

In [24]:
vendor_business_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB