In [1]:
import numpy as np
import pandas as pd

In [26]:
vendor_review_df=pd.read_json("../r2Data/yelp/yelp_academic_dataset_review.json",lines=True,nrows=400000)

In [29]:
vendor_review_df.sample(20)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
177693,vkmA1jEhzS2fNagoFnXk5g,GWaJZgh6otyh3dVt4qaqiA,pEYs1oVeJ6YM2SG5WEr5Pg,3,1,0,0,We booked a room at the Holiday Inn and notice...,2016-04-05 02:22:39
342709,o0dC-sHFmAyHjmj_e_gMzQ,QnnwWLeTNPFZWriadZJV_A,LvDSAcsHsyB9yDunzrG6VQ,5,0,0,0,Great haircut!! I use Steve to cut my hair eve...,2018-04-11 11:30:13
215290,2U-80PL4sqg9wdg-It00wg,0rHAEDJQcBK9u1jOgtuqBA,fjcELfOkRWjMyjcn9vc2ng,4,0,0,0,After reading the reviews I was surprised that...,2017-06-22 22:01:47
80117,6hTk-0E6yJf1ppddEnIdTw,SY6M_qX0_bFpjWp0B7y2Dg,eFwFIh7olBwMHQ6ByoRH-Q,5,0,0,0,I really like this place for ice cream. The co...,2018-09-17 20:40:00
343671,wOB3VTzIe63faYxaRvkPCA,hO0vrPqf4Ma2foebnR44Iw,tfcEEWKTZkc7WoK9QuAzEQ,2,1,0,0,This was my first wedding dress shopping exper...,2013-06-13 18:04:16
144271,fuTRZ_WQSyRUPpqzU9oM8g,LJLdRbJWAoHgX7qqj2QDgA,2KIDQyTh-HzLxOUEDqtDBg,5,3,0,0,This is a weekly must go to place for me for t...,2018-03-21 02:08:18
77099,hYXYUdxku2dPvODM8rQCYg,EYaVsUdI2W0qW85PCTIY3w,CYwC5OjwCN6ib_AQDxi3Ow,5,0,0,0,Last night my wife and I were going through th...,2018-01-24 21:27:11
180898,p2BcoO8G8gibcvX0hawu5w,xCm7kWlrEJO_wGelZ6liCw,eHQ0utxOdNVHVfDD7fYvdg,3,1,0,0,This restaurant is definitely different. I c...,2014-01-10 13:39:09
279088,13SerP5fvyUPq3dr6pzkWA,vtXYKq4HTlWD5EUvGOQL5Q,UCMSWPqzXjd7QHq7v8PJjQ,5,0,0,0,The wait was completely worth it!!! While we w...,2017-10-23 19:43:41
125201,y_I68BbzWtyPsc_0YgQJ0g,nzW1EgrAHILxdgugrMx6Ow,j8JOZvfeHEfUWq3gEz6ABQ,5,0,0,0,Defines laid back vibes. Cool idea. Ridiculous...,2018-05-04 18:15:30
85555,PyG5ylCkDTStOgWMHtvQ2g,948RQNxqU91MuaH-3CkpnA,KC4Eo1S3AMA2qk8ULiLEkg,5,0,0,0,Not a bad seat in the house! Easy parking. GO ...,2015-02-17 21:34:10
140229,PK4jNhXKThgMXmB6o6T1yQ,HhJl-9gTUNiP2xYx5alkXQ,QMaXUlBsA0SLiYZOzDAjVQ,4,2,0,0,I came here the other weekend and ordered the ...,2016-03-21 05:36:16
360030,iZ223mtyWSpX-AqUtGjLPA,1rPlm6liFDqv8oSmuHSefA,MpkCQTOV6D3XGRPbtQPj5Q,4,0,0,0,"Got a small pho dac biet ($7.49), and mango bo...",2015-08-05 23:02:40
306699,aQY55QUcNgCI50-v5uPhoA,w8fgRI3RCx3fxJQ_VqzOzQ,7L1kXfwU5XM6f6Jxo_L7Yg,5,0,0,0,"Went there for lunch was painless quick in , e...",2017-05-09 20:30:57
341834,PXUYTnevEPlt3u8UnrHviQ,uU-Rk1sj478gPh6Kug1wSw,AAFofLiyt_K1Ar_eEuVc7g,4,0,0,0,I stayed here during a conference after Loew's...,2007-10-24 18:31:38
130902,RuQ-vFOZPnI_iDSB5CyYIw,5G2IF0VIN3Brl-m45QDXsA,hWuLvI5QqPyQ1x9ww0HeRw,4,1,0,0,Great step up from the previous pizza place th...,2016-06-16 19:22:31
34685,X-uWk8WD8f0_EenSJhuG7A,GKDBQxitZ14_rN4jPWT5jg,tH10ZuH28GrccqTZ6TTl7A,4,0,0,0,We went on our first cruise with Carnival and ...,2017-10-28 17:17:12
19032,y8FyRoXconi0prEa-FxJ4Q,vplTH_8XAkXW5Pk76Em4EA,F-NLo63QqYWQX59M_nNZmg,2,1,1,0,This is my fourth visit. It's much improved ...,2015-09-24 17:41:20
206636,PDdVmFKdPOMbWUO55s-6Og,R3v-h4PaF2opdabMb2ivlw,P48O-s2OOVq8UBtskQ90tQ,5,0,0,0,"From start to finish, the meal I had was beyon...",2015-11-12 19:58:51
348098,p-9yJL1VFG_e-H_bwShQOw,qexgfkeIVmkRrtHcvrnIlQ,uzpiSVy6DTQBNByAhT0Z2Q,3,2,0,1,This was my go to nails salon for quite some t...,2016-01-22 17:37:20

In [31]:
vendor_review_df[vendor_review_df['user_id']=='vplTH_8XAkXW5Pk76Em4EA']

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
19032,y8FyRoXconi0prEa-FxJ4Q,vplTH_8XAkXW5Pk76Em4EA,F-NLo63QqYWQX59M_nNZmg,2,1,1,0,This is my fourth visit. It's much improved ...,2015-09-24 17:41:20
215835,zapKNtKV2TkMFc1BImrKQQ,vplTH_8XAkXW5Pk76Em4EA,7kko-9WTh53VZ_PmrffrSQ,4,2,0,0,Hard review. Sorely tempted to leave 3 stars ...,2018-01-07 23:09:48
221693,Au52TnbFEJZySngs_Vmzug,vplTH_8XAkXW5Pk76Em4EA,4BVjCMSKc4eJGfJldPB_hA,5,3,0,0,Best BBQ so far. Tried at least 5 places betw...,2014-04-26 19:44:37
222318,PH3kgpl0UA3-FCM43wqzbA,vplTH_8XAkXW5Pk76Em4EA,s8KNTkHGjMnzx5zcnWBbwQ,4,0,0,0,Loved the Famoso Salad. The Diavolo pizza ha...,2015-12-14 02:09:27
222786,jjLe3cs3Bsl3CESrbZV6ew,vplTH_8XAkXW5Pk76Em4EA,wqj6JquckEOs1h7rs376kQ,3,0,0,0,"Decent Pho. Had the steak, flank and tendon. G...",2014-04-19 01:40:08

In [23]:
vendor_business_info=pd.read_json("../r2Data/yelp/yelp_academic_dataset_business.json",lines=True)

In [32]:
vendor_review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400000 entries, 0 to 399999
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    400000 non-null  object
 1   user_id      400000 non-null  object
 2   business_id  400000 non-null  object
 3   stars        400000 non-null  int64
 4   useful       400000 non-null  int64
 5   funny        400000 non-null  int64
 6   cool         400000 non-null  int64
 7   text         400000 non-null  object
 8   date         400000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 27.5+ MB