In [1]:
import numpy as np
import pandas as pd

In [16]:
vendor_review_df=pd.read_json("../r2Data/yelp/yelp_academic_dataset_review.json",lines=True,nrows=600000)

In [3]:
vendor_business_info=pd.read_json("../r2Data/yelp/yelp_academic_dataset_business.json",lines=True)

In [4]:
vendor_business_info.sample(1)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
34215,Ut4tiRgbuL5sOa3hZemWGQ,Gold Dust West Casino Reno,444 Vine St,Reno,NV,89503,39.528924,-119.824745,3.0,125,1,{'GoodForKids': 'False'},"Casinos, Arts & Entertainment","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."

In [19]:
vendor_review_df.shape

(600000, 9)

In [22]:
vendor_business_info[vendor_business_info['business_id']=='XQfwVwDr-v0ZS3_CbbE5Xw']

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
1867,XQfwVwDr-v0ZS3_CbbE5Xw,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,19454,40.210196,-75.223639,3.0,169,1,"{'NoiseLevel': 'u'average'', 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."

In [23]:
df_matrix=vendor_review_df.merge(vendor_business_info,on="business_id")

In [26]:
df_matrix['business_id'].duplicated().sum()

np.int64(585002)

In [27]:
df_matrix.sample(10)

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours
487439,H0sjTpICb1T2AtpH3-jQxA,frkbB4jgmKzJaM5OqPiU6Q,L93Iw2rDhGT5dv3B86BTXg,5,0,0,1,If you are looking to get waxed Rita is the la...,2019-09-30 21:52:20,Tampa Sugaring,...,FL,33511,27.919124,-82.323760,4.5,7,1,"{'BikeParking': 'True', 'WiFi': 'u'free'', 'Bu...","Day Spas, Massage, Sugaring, Hair Removal, Wax...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-20:0', ..."
283101,4vWpAuj1gjnY3LaUhn_ekA,nj4wC4MJIhbHyFkZ_rd8fQ,avNUBfd-ZVCA0OkgEvaVqw,5,0,0,0,I used to go to Studio Branca for many years a...,2013-10-24 02:17:53,Studio Branca,...,MO,63141,38.677912,-90.464926,3.5,51,1,"{'BusinessParking': '{'garage': False, 'street...","Beauty & Spas, Nail Salons, Health & Medical, ...","{'Monday': '8:0-20:0', 'Tuesday': '7:0-21:0', ..."
392413,zIKfeAR0QjFlkftqXqCHmw,gxCLyxKrasqRZsv8qoRRfw,1skzWN0fxGgZNRE53Y_3gw,2,0,1,0,Perennial brews are the equivalent of Fizzie I...,2019-04-03 22:09:34,Perennial Artisan Ales,...,MO,63111,38.545541,-90.265343,4.0,125,1,"{'BikeParking': 'True', 'BusinessParking': '{'...","Breweries, Food","{'Wednesday': '15:0-20:0', 'Thursday': '15:0-2..."
499250,57-eri8PaRkq0gxbHI2afg,G6-THBuq3x_q3Kb106CJpw,AzseSGgDC6bVtMPEYo1CNQ,5,1,0,0,Creole Creamery has a huge variety of really c...,2016-06-21 22:07:52,Creole Creamery,...,LA,70115,29.924394,-90.108503,4.5,921,1,"{'BikeParking': 'True', 'GoodForKids': 'True',...","Food, Ice Cream & Frozen Yogurt","{'Monday': '12:0-22:0', 'Tuesday': '12:0-22:0'..."
558822,YyI8Og98lHFAeNCoNjylFg,Lcx7JDM5zHg1o27HbTggjg,z680Aylt8wN2KAeFM1hy-A,5,2,1,1,What can I say about Chatham Tap I think they ...,2021-04-05 14:36:19,Chatham Tap Mass. Ave.,...,IN,46204,39.776608,-86.146371,4.0,427,1,"{'Ambience': '{'romantic': False, 'intimate': ...","Bars, British, Pubs, Nightlife, Pizza, Restaur...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
78354,025ldYF8JaqYQ0bvlOw0HA,Jo-oqUCiaj_j3CSDolfdKw,aAdGIK9ewmiWtGzIcrQgNA,5,0,0,0,"Stop on my way to Orlando, the bartender and I...",2018-07-17 17:16:37,Gran Agave,...,FL,33578,27.894444,-82.318030,3.5,214,1,"{'RestaurantsReservations': 'False', 'Ambience...","Restaurants, Mexican","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
527444,8KHaMTjDWlZTA3LPDFEy-w,RPyg9Diz9KWUxn9iUM7Bfg,HPVpxcwDVjgZatc4M8bEnw,4,1,0,0,I travel to this area for business and always ...,2018-04-18 03:48:14,Frazer Diner,...,PA,19355,40.041407,-75.537486,3.5,51,1,"{'WiFi': 'u'no'', 'RestaurantsTakeOut': 'True'...","Restaurants, Breakfast & Brunch, Diners",None
321267,O6PVOarnonvX7_i7I2vUew,b_YyI6Q4DTXIlv41OITR-Q,8OPE0UaZHf7vdYkgbIj8vg,4,4,1,1,"""Packer Backer"" here... Have to say - love thi...",2015-01-11 19:58:02,Fox and Hound English Pub and Grille,...,IN,46250,39.904247,-86.087971,3.0,65,0,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","American (New), Nightlife, Bars, Restaurants, ...","{'Monday': '11:0-2:0', 'Tuesday': '11:0-2:0', ..."
438024,7jwXqYpwE_XuJFbgoqR4ig,XrWAdRK4CUUK85Ak3x-HDw,Ms5xG8i4p80KSMcF3tt4ug,3,6,2,2,Meh.\nOnly went here for a bridal shower. The ...,2017-07-31 16:20:00,Sal DeForte's Ristorante,...,NJ,08628,40.266888,-74.805657,4.0,52,1,"{'RestaurantsAttire': ''casual'', 'Restaurants...","Italian, Restaurants","{'Monday': '16:0-20:0', 'Tuesday': '16:0-20:0'..."
525781,NkNsmrEA8iss6vfyhu38Ug,fGIap6ckTYui9CZq9RxaCA,txasGoZ1qB5toVaFiTbpmQ,5,0,0,0,Great brunch spot - so glad we got to try it! ...,2021-07-13 00:09:01,The Brunchery,...,FL,33647,28.127905,-82.369112,4.0,88,1,"{'DogsAllowed': 'False', 'BusinessAcceptsCredi...","Restaurants, American (Traditional), Breakfast...","{'Monday': '8:0-14:0', 'Tuesday': '8:0-14:0', ..."