In [1]:
import numpy as np
import pandas as pd

In [2]:
vendor_review_df=pd.read_json("../r2Data/yelp/yelp_academic_dataset_review.json",lines=True,nrows=400000)

In [3]:
vendor_business_info=pd.read_json("../r2Data/yelp/yelp_academic_dataset_business.json",lines=True)

In [4]:
vendor_business_info.sample(1)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
34215,Ut4tiRgbuL5sOa3hZemWGQ,Gold Dust West Casino Reno,444 Vine St,Reno,NV,89503,39.528924,-119.824745,3.0,125,1,{'GoodForKids': 'False'},"Casinos, Arts & Entertainment","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."

In [5]:
vendor_review_df.sample(10)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
84138,Ch2Cv58t0wFKeEAYLnD0nw,pGvV83ale5cZrDHaapXJ1Q,Oun4NN-u5yiHIxDqtJnxgA,5,3,1,1,"The expression ""artisanal food"" has been up an...",2014-03-03 02:45:35
19504,xpcQPqJjQBSIv1q3GpFx5w,gV3t72EiF0v4WETbcyqPig,iVegX9epKU8R0eRAEwQ6Yg,2,0,0,0,Horrible. Only table in there and the waitress...,2015-02-16 23:19:51
55249,AnnWNtzCWTici0J2VEQ5gQ,BJq8O37yqmAAx0u7b38U5A,roc-xyyzN5b_nImb0NdRLQ,4,0,0,0,I had an early flight & a little time before t...,2014-06-01 10:43:11
284486,OvCORp1Pb9QJWjEvoSEGlg,R-SBZKv1XtuODkgkDEtt2w,JOfBsNewE5J0rHG5LdlZeg,4,1,0,0,I came here on a Saturday to have some fun lis...,2011-09-18 23:11:15
315437,KqRUyQfKw7wCA8JRwbQlyw,6Xy-Qbau0Nsl3QdkYnwp_g,pSmOH4a3HNNpYM82J5ycLA,3,3,1,2,Personally: OVERHYPED. Wait time 25mins (which...,2019-01-19 20:22:23
51611,mvg1YGIf809AInPkfLbKOQ,MXLY6FU24XYavAPX1b1V2g,0qu0fNTOsSmuREYVIMPuIQ,5,3,0,0,This place is super cute! You cross a bridge a...,2013-09-05 18:53:21
229890,iJWk7gYEnPiluGsd4f95Rg,vxHVb35Zw9qRdT4xEeEqtA,_9JumTIHEQgTV9-gGe_TWg,2,0,0,0,My boyfriend and I met his friends out for dri...,2015-04-24 19:08:15
224937,_4HkD-zekS5dSLJYCYmjow,rKFg405s78_PYXGl7n3-0w,10wt8eSXI_PZfl9dRIiWmg,5,0,0,0,We tried out Rangoli tonight and it was STELLA...,2018-07-15 02:47:45
345093,1wod0YjJFiU7IFwRHmP7Eg,JSJRSietSh1c6ukPIaO4QQ,49PmDnTi__HAxORvBZuFwg,5,0,0,0,I have intense anxiety about going to the dent...,2019-11-10 11:38:10
249557,yvhYgCPu8_AhHtSydL_Yog,ureoYrPnd8XPasrcvoVMEQ,h4C7s_Go9UKo5twaLIWc8A,3,0,1,0,"The lunch service was pretty quick, the food w...",2016-12-10 23:51:25

In [12]:
vendor_business_info[vendor_business_info['business_id']=='X2twFL-eVLXSqNmm7CWUYQ']

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
6869,X2twFL-eVLXSqNmm7CWUYQ,Gulf South Foot & Ankle,"2520 Harvard Ave, Ste 2B",Metairie,LA,70001,29.998085,-90.188808,4.0,15,1,"{'BusinessAcceptsCreditCards': 'None', 'ByAppo...","Sports Medicine, Health & Medical, Physical Th...","{'Monday': '8:30-18:0', 'Tuesday': '8:30-18:0'..."

In [ ]:
vendor_review_df