In [1]:
import numpy as np
import pandas as pd

In [16]:
vendor_review_df=pd.read_json("../r2Data/yelp/yelp_academic_dataset_review.json",lines=True,nrows=600000)

In [3]:
vendor_business_info=pd.read_json("../r2Data/yelp/yelp_academic_dataset_business.json",lines=True)

In [4]:
vendor_business_info.sample(1)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
34215,Ut4tiRgbuL5sOa3hZemWGQ,Gold Dust West Casino Reno,444 Vine St,Reno,NV,89503,39.528924,-119.824745,3.0,125,1,{'GoodForKids': 'False'},"Casinos, Arts & Entertainment","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."

In [14]:
vendor_review_df.head(10)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
5,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31
6,6AxgBCNX_PNTOxmbRSwcKQ,r3zeYsv1XFBRA4dJpL78cw,gmjsEdUsKpj9Xxu6pdjH0g,5,0,2,0,Loved this tour! I grabbed a groupon and the p...,2015-01-03 23:21:18
7,_ZeMknuYdlQcUqng_Im3yg,yfFzsLmaWF2d4Sr0UNbBgg,LHSTtnW3YHCeUkRDGyJOyw,5,2,0,0,Amazingly amazing wings and homemade bleu chee...,2015-08-07 02:29:16
8,ZKvDG2sBvHVdF5oBNUOpAQ,wSTuiTk-sKNdcFyprzZAjg,B5XSoSG3SfvQGtKEGQ1tSQ,3,1,1,0,This easter instead of going to Lopez Lake we ...,2016-03-30 22:46:33
9,pUycOfUwM8vqX7KjRRhUEA,59MxRhNVhU9MYndMkz0wtw,gebiRewfieSdtt17PTW6Zg,3,0,0,0,Had a party of 6 here for hibachi. Our waitres...,2016-07-25 07:31:06

In [15]:
vendor_business_info[vendor_business_info['business_id']=='XQfwVwDr-v0ZS3_CbbE5Xw']

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
1867,XQfwVwDr-v0ZS3_CbbE5Xw,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,19454,40.210196,-75.223639,3.0,169,1,"{'NoiseLevel': 'u'average'', 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."

In [13]:
vendor_review_df.merge(vendor_business_info,on="business_id")

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,Turning Point of North Wales,...,PA,19454,40.210196,-75.223639,3.0,169,1,"{'NoiseLevel': 'u'average'', 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18,Body Cycle Spinning Studio,...,PA,19119,39.952103,-75.172753,5.0,144,0,"{'BusinessAcceptsCreditCards': 'True', 'GoodFo...","Active Life, Cycling Classes, Trainers, Gyms, ...","{'Monday': '6:30-20:30', 'Tuesday': '6:30-20:3..."
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30,Kettle Restaurant,...,AZ,85713,32.207233,-110.980864,3.5,47,1,"{'RestaurantsReservations': 'True', 'BusinessP...","Restaurants, Breakfast & Brunch",None
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,Zaika,...,PA,19114,40.079848,-75.025080,4.0,181,1,"{'Caters': 'True', 'Ambience': '{'romantic': F...","Halal, Pakistani, Restaurants, Indian","{'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21..."
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15,Melt,...,LA,70119,29.962102,-90.087958,4.0,32,0,"{'BusinessParking': '{'garage': False, 'street...","Sandwiches, Beer, Wine & Spirits, Bars, Food, ...","{'Monday': '0:0-0:0', 'Friday': '11:0-17:0', '..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,uxx2FBHD4P_jpptHAFN0Jw,M6vqSO8qK34kGvwq72k7jg,XHEoP7Otn8RMH9r8WTJnOA,1,0,0,0,"I placed an order with IKEA, and Ellis Moving ...",2014-08-26 01:24:54,Ellis Moving & Storage,...,TN,37138,36.264560,-86.667529,1.5,53,1,"{'ByAppointmentOnly': 'True', 'BusinessAccepts...","Movers, Local Services, Public Relations, Prof...","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
399996,5J9BR9pX1S7_OhVG9bPD2Q,yMEsTtgZMnofpWkt7dC4pQ,-NR67PJ5DXIMhyHmWe95bw,5,0,0,0,If you see your wedding as one of the most imp...,2019-03-17 02:18:07,Jordan Brian Studios,...,NJ,08054,39.956100,-74.919660,4.5,19,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...","Photographers, Event Planning & Services, Even...","{'Monday': '10:0-16:0', 'Tuesday': '10:0-16:0'..."
399997,Aw3EfZ0sK3z4VbEQ_M5oPQ,Tk-scISvtZYDAJyYk1fUHw,ta7CjdjmH9cVcwc8AQyUFg,5,0,0,0,I have been a client of EWC for about 8 years ...,2018-12-13 06:23:39,European Wax Center,...,PA,19107,39.948571,-75.161924,4.5,51,1,"{'RestaurantsTakeOut': 'False', 'HasTV': 'Fals...","Waxing, Beauty & Spas, Hair Removal, Skin Care...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-20:0', '..."
399998,NblCT6zH-jpUONDAFiPq9Q,W1MeJas3nFnSzdWrO4uj4A,KP5OncF2jhT7_J1phHPPww,5,0,0,0,"Very nice food and drinks, tres de leches is m...",2019-04-25 01:50:40,Besito Mexican Restaurant,...,FL,33609,27.946250,-82.526568,4.0,1092,1,"{'BusinessParking': '{'garage': True, 'street'...","Mexican, Restaurants, Salad, Food, Bars, Night...","{'Monday': '11:30-22:0', 'Tuesday': '11:30-22:..."
399999,O-cDqH9Nvkd2bZuYsEASbQ,Ym0tqahvetGXfgMQgS4Axw,s_EQ1JQvZ32bqFfhZSgj_A,1,1,0,0,I enjoy the atmosphere but I recently had a ge...,2015-12-13 19:40:36,Ladue Nails & Spa,...,MO,63124,38.653863,-90.352026,2.0,111,1,"{'BusinessParking': '{'garage': False, 'street...","Massage, Nail Salons, Beauty & Spas, Waxing, H...","{'Monday': '0:0-0:0', 'Tuesday': '8:30-18:0', ..."