In [2]:
import numpy as np
import pandas as pd

In [3]:
vendor_review_df=pd.read_json("../r2Data/yelp/yelp_academic_dataset_review.json",lines=True,nrows=400000)

In [4]:
vendor_business_info=pd.read_json("../r2Data/yelp/yelp_academic_dataset_business.json",lines=True)

In [7]:
vendor_business_info.sample(1)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
8204,4nOTQHWoDbAmktxBEZz9mw,The UPS Store,5662 Calle Real,Goleta,CA,93117,34.441613,-119.822943,3.0,27,1,{'BusinessAcceptsCreditCards': 'True'},"Notaries, Shipping Centers, Mailbox Centers, L...","{'Monday': '0:0-0:0', 'Tuesday': '7:30-18:0', ..."

In [8]:
vendor_review_df.sample(1)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
102292,0LIRtF3sHSwQdMxFfnF2Yw,TzSlEtNV-OhgAdpy-Qd4yA,2Su1brsNj98oEcobVdNk7Q,3,2,0,0,This is a funky hair salon. The main floor is ...,2008-10-02 22:15:38