In [2]:
import numpy as np
import pandas as pd

In [3]:
vendor_review_df=pd.read_json("../r2Data/yelp/yelp_academic_dataset_review.json",lines=True,nrows=400000)

In [4]:
vendor_business_info=pd.read_json("../r2Data/yelp/yelp_academic_dataset_business.json",lines=True)

In [6]:
vendor_review_df.sample(5)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
202312,cSh1at08S-fQgd8Vr-uuZA,ylrqBTpOY3U_hGSKBCByMg,IuKCyfSY7AKhRbRA1JPlPw,5,1,0,0,Asters Floral Shop did a great job in creating...,2016-04-16 15:42:36
74316,yQ_yJSpxMFsJDDtFgJ1bcQ,IwHLuykqqmGVNHJ_UCwXWg,TghRoAMx43V-9l7mH-SENg,3,11,3,6,What is particularly great about this place is...,2015-05-15 08:31:27
154880,KK8D4Vl2wmlQq4OgdlTCkQ,XKa5R1lJSvNrbo8InhNliQ,gK9CdFaCXmHoW8aLfXiSqg,5,1,0,0,Great new place on the Main Line. I was impres...,2015-06-25 03:43:33
357060,maqxKOQMb3EimXTsl7vxaA,Rt_yD1AehmcV7b6Vzcb9hg,dBCNUSbz5-8nQNrxWo5deg,4,3,2,1,I previously wrote a pretty negative review ab...,2016-12-18 01:55:50
226082,qRW-eWcPVsbnuLdZV2IK2Q,MaLDSv8D4_ScDyxeh7GzUg,7EhTT4iEuA7JaaWA-eI3Qw,5,0,0,0,Ultimate mango shaved milk ice is out of this ...,2016-07-19 01:20:39

In [7]:
vendor_business_info.sample(5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
104536,ta7mh_wdbvbKUwb1RO3TZQ,Giuseppe's Pizza & Family Restaurant,46 S Bethlehem Pike,Ambler,PA,19002,40.157885,-75.214495,3.5,58,1,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Pizza, Restaurants","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
22902,ktyWHZGKJwMisMwQSDsJaw,Boston Market,7503 W Waters Ave,Tampa,FL,33615,28.026219,-82.562688,3.0,32,1,"{'Alcohol': 'u'none'', 'NoiseLevel': 'u'averag...","Restaurants, American (Traditional), Caterers,...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
9470,VXTypAQ-BwdNJyLWHQEl9A,The Dog Enthusiast,838 Christian St,Philadelphia,PA,19147,39.938705,-75.157579,5.0,18,0,None,"Pets, Dog Walkers, Pet Sitting, Pet Groomers, ...","{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ..."
94511,HbW0IHAYQeLt1INIB-CNOQ,Officemax,"1000 S Clearview Pkwy, Ste 1020",New Orleans,LA,70123,29.958664,-90.184173,3.0,9,1,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Office Equipment, Shopping",None
146980,0it-2gWk_gyuZyEMQzBBuQ,Corktree Cellars Wine Bar & Bistro,910 Linden Ave,Carpinteria,CA,93013,34.398176,-119.518807,4.0,230,1,"{'RestaurantsTakeOut': 'True', 'WiFi': 'u'no''...","Bars, Wine Bars, American (New), Nightlife, Re...","{'Tuesday': '11:30-21:0', 'Wednesday': '11:30-..."

In [12]:
vendor_business_info[vendor_business_info['business_id']=='7EhTT4iEuA7JaaWA-eI3Qw']

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
5431,7EhTT4iEuA7JaaWA-eI3Qw,Seasons Cafe & Bakery,7261 US Hwy 19 N,Pinellas Park,FL,33781,27.838462,-82.682464,4.0,292,0,"{'Ambience': '{'romantic': False, 'intimate': ...","Food, Bakeries, Asian Fusion, Vietnamese, Rest...","{'Monday': '11:0-21:0', 'Wednesday': '11:0-21:..."