In [1]:
import numpy as np
import pandas as pd

In [26]:
vendor_review_df=pd.read_json("../r2Data/yelp/yelp_academic_dataset_review.json",lines=True,nrows=400000)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
298721,6NudbSogbeto-7kzlxsrzg,7aE_h5bastpz_wXMEuGW-g,wa_bwyY57etHjtJ2Fw0E3g,3,0,0,0,Went here for the first time yesterday evening...,2018-03-11 20:15:20
183481,hHvemDMPw_UNwovUIVidrQ,URN87vD4UoKN005-AY6lqA,bmz4siaejdjs4_yS_mYW4A,4,1,0,0,Happy hour 4-7,2011-09-13 14:38:27
10325,zdce63PEJcwXFk4gY8VcCg,U4bbjn2NtjyFOf6JUM29_A,O6hY9yenifuRXrpc4TfgsQ,2,1,0,0,Had the Spring onion soup. Could not eat it. \...,2016-04-23 17:53:10
90524,BUG2vYpp6jobO0P3spGQsw,C0gTMVGhE-4sYpcRxgp8Dw,rsDFJ05TiW7yBMdVuQ2tQQ,5,0,0,0,Awesome spot with plenty of parking. I was sho...,2017-10-05 18:29:59
25089,qPo0mgqfcdbOof0ccgdwpA,HKtxqmlWczjWGmV2QYudXA,U3aNQ5DsABPYyJQolsCbJg,4,0,0,0,Went back for lunch. Tried the carne asada ta...,2016-06-24 02:18:08
207890,JOjefPcq_t8vH5zmF87T4g,sITdK1XOzEKts2bWDLf2vQ,NQtzoZ84KKUWkKevAgmRbQ,1,2,0,0,My wife and I were at this location on Memoria...,2016-06-06 00:42:29
383094,orSlxvDwHGoZri3H-8ZkkQ,drAojRqRvYa2aAx9XtBTrw,o7cD_sDA-Evj3Oh0zeH9nQ,1,2,0,0,Hate hate hate it. My girlfriend and I went he...,2013-10-17 02:48:58
261940,4gg9T3tcIMrkwfZFjh-7fA,1gTZP1NHhV-3Uyf4z_PqYw,7EhTT4iEuA7JaaWA-eI3Qw,1,1,0,0,Terrible customer service.\nA small structured...,2017-02-18 21:05:32
180900,0kYIIKwJbfPbPZ1YSu_rbg,9aNKxN47lcbkPZ1_x07iog,C5Nwl3I2luh-k5ePQ-kLmw,5,4,1,2,What a wonderful staff!! My cat has had an ear...,2017-03-08 15:57:17
337076,v0Ge8Cte1ozutlQsEvgBtQ,En7NokSXoJ1DxHxeMyYdZQ,7EhTT4iEuA7JaaWA-eI3Qw,5,0,0,0,Great customer service and delicious food (try...,2013-09-25 15:47:27
810,41b2ucn68EX9cM13ZV903Q,Kw8tMujemhHpVB_RHwmE3g,8E-FdOGepjxkEk-mP21rbA,3,0,0,0,Its a hotel and you can stay there.\n\nAfter a...,2013-02-22 03:04:20
258387,OT-J_v7CTFPLeyMZt7SH0Q,D_lm2B7RuZDLyAFeAVNgdg,BVndHaLihEYbr76Z0CMEGw,2,3,0,0,Been here for lunch a couple of times with som...,2011-07-25 02:21:56
185930,yuu4rHjDagHrsHGBgYKjUg,A38s8uE8XR2N0cn1K1Gt0g,cXSyVvOr9YRN9diDkaWs0Q,5,0,2,0,Let me not bore you with a typical review. \n\...,2013-12-19 05:59:02
117389,gOo5CzOx9m7BpWBbAmm-zQ,fWB_yD9ZrDqarrX2u0o5zQ,CKX5fUtIjqt41SfQSikTKQ,1,1,0,0,This place moved farther west. I wanted to ren...,2016-10-20 01:22:06
199165,BO6Ry6JFH5eko_Qk3mvjag,6YAPZtzvMCAtqc6RIBKC2Q,QPIqyDGhIrn-kRAACUrduQ,4,3,0,1,"Pretty cool store, nice selection. New and use...",2016-10-19 16:27:45
161433,7CUjWaxavdCGJbOPWhNjNQ,XPFyD3atMEDAoiKh3OSYJQ,AmnnsJq4Pz1jJUFzHwtsOA,5,0,0,0,Better than some sit-down Mexican places! The ...,2010-10-27 19:20:48
118236,x1wMBAWCy-Yh2-z1dqj76g,mnNwNzzceamCVx8M435Skw,K5ffo0hkwhG33BDNQrJF6A,4,0,0,0,My husband and I enjoyed dinner here. Really ...,2013-07-19 20:44:55
226101,Jp70oiHFhwN_yfjhe2dfCA,bY9h1Q86y_12ChNk_N0HpA,9AiZWqD09fkYjhT6JiQ-YA,1,11,12,11,TOTAL DICK!!!!!\nI am a neighbor and walked in...,2011-11-18 17:04:56
346104,WxmEryC25z8XId9GKCi_Uw,oyRkVPPUcd4QGeYPNaaZBA,aeuDPfYSDHENrNkPdbWFqw,1,0,0,0,I bought a 2013 Equinox. I took it to Midas an...,2019-05-19 21:24:09
227806,Puezk-nuARha7ClfswskIg,dFGLEw6xINXQYrRNNl3l1Q,VRGYwKE_Z77frm5NwLvJhw,3,0,0,0,"Hmmmmm . . . I prefer small, family owned rest...",2014-12-10 22:40:29

In [31]:
vendor_review_df[vendor_review_df['user_id']=='vplTH_8XAkXW5Pk76Em4EA']

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
19032,y8FyRoXconi0prEa-FxJ4Q,vplTH_8XAkXW5Pk76Em4EA,F-NLo63QqYWQX59M_nNZmg,2,1,1,0,This is my fourth visit. It's much improved ...,2015-09-24 17:41:20
215835,zapKNtKV2TkMFc1BImrKQQ,vplTH_8XAkXW5Pk76Em4EA,7kko-9WTh53VZ_PmrffrSQ,4,2,0,0,Hard review. Sorely tempted to leave 3 stars ...,2018-01-07 23:09:48
221693,Au52TnbFEJZySngs_Vmzug,vplTH_8XAkXW5Pk76Em4EA,4BVjCMSKc4eJGfJldPB_hA,5,3,0,0,Best BBQ so far. Tried at least 5 places betw...,2014-04-26 19:44:37
222318,PH3kgpl0UA3-FCM43wqzbA,vplTH_8XAkXW5Pk76Em4EA,s8KNTkHGjMnzx5zcnWBbwQ,4,0,0,0,Loved the Famoso Salad. The Diavolo pizza ha...,2015-12-14 02:09:27
222786,jjLe3cs3Bsl3CESrbZV6ew,vplTH_8XAkXW5Pk76Em4EA,wqj6JquckEOs1h7rs376kQ,3,0,0,0,"Decent Pho. Had the steak, flank and tendon. G...",2014-04-19 01:40:08

In [23]:
vendor_business_info=pd.read_json("../r2Data/yelp/yelp_academic_dataset_business.json",lines=True)

In [32]:
vendor_review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400000 entries, 0 to 399999
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    400000 non-null  object
 1   user_id      400000 non-null  object
 2   business_id  400000 non-null  object
 3   stars        400000 non-null  int64
 4   useful       400000 non-null  int64
 5   funny        400000 non-null  int64
 6   cool         400000 non-null  int64
 7   text         400000 non-null  object
 8   date         400000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 27.5+ MB