In [2]:
import numpy as np
import pandas as pd

In [4]:
df1=pd.read_csv("../r2Data/user_vendor_series_data.csv")

## Buliding basic collaborative model

In [7]:
df1.drop(columns=['Unnamed: 0','review_id','user_review_avg','user_idx','hours','attributes',''],inplace=True)

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,...,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours,user_idx,user_review_avg
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,Turning Point of North Wales,...,40.210196,-75.223639,3.0,169,1,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'...",0,0.001146
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18,Body Cycle Spinning Studio,...,39.952103,-75.172753,5.0,144,0,"{'BusinessAcceptsCreditCards': 'True', 'GoodFo...","Active Life, Cycling Classes, Trainers, Gyms, ...","{'Monday': '6:30-20:30', 'Tuesday': '6:30-20:3...",1,0.001255
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30,Kettle Restaurant,...,32.207233,-110.980864,3.5,47,1,"{'RestaurantsReservations': 'True', 'BusinessP...","Restaurants, Breakfast & Brunch",NaN,2,0.001083
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,Zaika,...,40.079848,-75.025080,4.0,181,1,"{'Caters': 'True', 'Ambience': ""{'romantic': F...","Halal, Pakistani, Restaurants, Indian","{'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21...",3,0.000836
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15,Melt,...,29.962102,-90.087958,4.0,32,0,"{'BusinessParking': ""{'garage': False, 'street...","Sandwiches, Beer, Wine & Spirits, Bars, Food, ...","{'Monday': '0:0-0:0', 'Friday': '11:0-17:0', '...",4,0.001249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,UM5_6U6-VkhjPgUBIlTbpQ,E-3SqqAxaKZxTzo0wp7V2Q,cxupofYLq46bxBHpKyFwsQ,4,2,0,1,Stayed here the wknd of Labor Day/Decadence. ...,2019-09-17 18:26:11,Wyndham New Orleans - French Quarter,...,29.953713,-90.068526,3.0,266,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Event Planning & Services, Hotels, Hotels & Tr...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",372641,0.000834
599996,ITIq3k_wtfWrkZflMbXHwA,VigsAph76fP7pechJ743EA,WVX0JKV9ZP-r9bz0A4xAVw,4,27,15,24,Less crowded than Parksdale if you're craving ...,2020-01-27 14:19:10,Berry Barn,...,27.937365,-82.213982,4.5,14,1,"{'BusinessParking': ""{'garage': False, 'street...","Food, Fruits & Veggies, Specialty Food",NaN,42750,0.001502
599997,X8QM0_gTsvEatcslkuRDwQ,t8fTihkSkf2KpP_4Q_kPow,uO39--k_hrCFgZh-Bl8m8A,4,1,0,2,I've gone by this place and I've been wanting ...,2016-05-13 03:37:03,Taqueria Cuernavaca,...,34.418932,-119.704239,4.5,409,1,"{'Caters': 'False', 'NoiseLevel': ""u'average'""...","Mexican, Tacos, Restaurants","{'Monday': '10:0-20:30', 'Wednesday': '10:0-20...",84145,0.001002
599998,7uBPnki8Jmoo5bjVZI2LZw,I-JKKX7PHHd_z9nNMkH6kg,SoEnVtFQWEhBUBQXq9O5Ag,5,2,0,2,I love OG!!! We started going to Metazoa becau...,2020-11-08 01:59:14,Old Gold Barbecue,...,39.764179,-86.146120,5.0,57,1,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...","Event Planning & Services, Caterers, Barbeque,...","{'Monday': '0:0-0:0', 'Thursday': '11:0-19:0',...",32439,0.001308
599999,3eFKgGCeQelZYF2PuutVGw,4PaGIGJ9pExEcODQjI4I8w,A9rVxmIBtHZRvNhbBaGAWg,5,1,0,1,One of the best Szechwan restaurants you can f...,2021-04-13 04:34:15,Szechuan House,...,40.233373,-74.708695,4.0,213,1,"{'RestaurantsReservations': 'True', 'Restauran...","Restaurants, Chinese, Szechuan","{'Monday': '11:0-21:30', 'Tuesday': '11:0-21:3...",372642,0.000485

In [8]:
df1.columns

Index(['Unnamed: 0', 'review_id', 'user_id', 'business_id', 'stars_x',
       'useful', 'funny', 'cool', 'text', 'date', 'name', 'address', 'city',
       'state', 'postal_code', 'latitude', 'longitude', 'stars_y',
       'review_count', 'is_open', 'attributes', 'categories', 'hours',
       'user_idx', 'user_review_avg'],
      dtype='object')